{
  "plugins": ["prettier-plugin-solidity"],
  "overrides": [
    {
      "files": "Contracts/**/*.sol",
      "options": {
        "parser": "solidity-parse",
        "printWidth": 150,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false
      }
    }
  ]
}
